<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;" />
  </appSettings>
  <connectionStrings>
    <add name="myconnection" connectionString="Data Source=MSI;Initial Catalog=tindahandb;Persist Security Info=True;User ID=sa; Password=Zaq12wsx;Max Pool Size=200; " />
    <!--<add name="myconnection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\tindahandb.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="myconnection" connectionString="Data Source=WIN-F9DECSJGDG4\SQLEXPRESS;Initial Catalog=mmpcdb;Persist Security Info=True;User ID=sa; Password=soccsksargen " />-->
  </connectionStrings>
  <system.web>
     <customErrors mode="Off" />
      <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms name="payrollsystem" defaultUrl="~/Home.aspx" loginUrl="~/Default.aspx" slidingExpiration="true" timeout="2880" />
    </authentication>


  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
